
.profile-photo {
  width: 100px;
  height: auto;
  border: 5px solid #264653;
  border-radius: 10px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: left;
}
